@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hoverEffect:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: black;
  animation: fadeIn 200ms ease-in-out forwards;
}
.hoverEffect:hover::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  animation: spreadOut 400ms ease-in-out forwards;

  border-inline: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spreadOut {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s linear infinite;
}

div[data-value="skeleton"] {
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );

  background-size: 40px 100%;

  background-position: left -40px top 0;

  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  background-repeat: no-repeat;
  animation-name: loading;
}

@keyframes loading {
  100% {
    background-position: right -40px top 0;
  }
}
