@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hoverEffect:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background-color: black;
  animation: fadeIn 200ms ease-in-out forwards;
}
.hoverEffect:hover::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  animation: spreadOut 400ms ease-in-out forwards;

  border-inline: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spreadOut {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
}
